.MobileCompany {
  border: double gray 3px;
  padding: 3px 7px;
  background-color: lightyellow;
}

.MobileCompanyName {
  font-weight: bold;
}

.MobileCompanyClients {
  padding-top: 5px;
  background-color: white;
  border-spacing: 7px 11px;
  padding: 10px;
  border-collapse: separate;
}

.MobileCompanyClients tr {
  font-weight: normal;
  border: 2px solid #039;
}

.MobileCompanyClients td {
  text-align: center;
  padding: 0 50px;
}

.Filter {
  padding-top: 30px;
}

.MobileCompanyClients thead{
  background-color: rgb(220, 220, 245);
}

.MobileCompanyClients tbody {
  background-color: beige;
}