body {
  background-color: rgb(201, 201, 201);
  margin: 20px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.br2jsx {
  margin-left: 20px;
  padding: 20px;
  width: 150px;

  background-color: black;
  color: blanchedalmond;

  text-align: center;
}