body {
    background-color: rgb(201, 201, 201);
}

.ShopTable {
    background-color: white;
    border-spacing: 0 10px;
    padding: 10px;
    margin: auto;
    border-collapse: collapse
}

.ShopTable .ShopCaption {
    margin-bottom: 10px;
    font-size: 2em;
}

.ShopTable .Product .productsImg img {
    height: 100px;
}

.Product,
.ProductsThead {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.ShopTable td {
    padding: 0 50px;
    color: #669;
}

.ShopTable tr {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.ShopTable tr:hover td {
    color: #6699ff;
}